//This could be easily placed under header scss

.header-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-in;*/
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1.2s ease-out;
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-in;*/
    margin-bottom: 6rem;
  }
}

// this gives header a gradient and modern feel
.header-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  // background color gets clip exactly where the text is.
  -webkit-background-clip: text;
  // text is will transparent and the background clip will show
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2 );
  }
}
